In [1]:
import sys
sys.version

'3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]'

# converting one data type into another data type(TYPE CASTING)

In [2]:
# type casting in python allows us to convert one data type to another for accurate & error free operations.

# float,str,bool to--->int()

In [3]:
# float to int()
a = 20.0
b = int(a)
print(b)
print(type(b))

20
<class 'int'>

In [4]:
# str to int()
a = "10"
b = int(a)
print(b)
print(type(b))

10
<class 'int'>

In [5]:
# bool to int()
a = True
b = int(a)
print(b)
print(type(b))

1
<class 'int'>

# int,str,bool to--->float()

In [6]:
# int to float()
a=2
b=float(a)
print(b)
print(type(b))

2.0
<class 'float'>

In [7]:
# complex to float()
z=3+4j
print(z.real)
print(z.imag)

3.0
4.0

In [8]:
print(int(z.real))
print(int(z.imag))

3
4

In [9]:
# str to float()
a = "10"
b = float(a)
print(b)
print(type(b))

10.0
<class 'float'>

In [10]:
# bool to float()
a=True
b=(float(a))
print(b)
print(type(b))

1.0
<class 'float'>

In [11]:
a=False
b=(float(a))
print(b)
print(type(b))

0.0
<class 'float'>

# int,float,bool,list,dict,tuple to--->str()

In [12]:
# int to str()
a = 6
b = str(a)
print(b)
print(type(b))

6
<class 'str'>

In [13]:
# float to str()
a = 5.6
b = str(a)
print(b)
print(type(b))

5.6
<class 'str'>

In [14]:
# bool to str()
a = False
b = str(a)
print(b)
print(type(b))

False
<class 'str'>

In [15]:
# List to str
a = [1, 2, 3]
b = str(a)
print(b)           
print(type(b))

[1, 2, 3]
<class 'str'>

In [16]:
# Dict to str
a = {'name': 'Alice', 'age': 25}
b = str(a)
print(b)        
print(type(b))

{'name': 'Alice', 'age': 25}
<class 'str'>

In [17]:
# Tuple to str
a = (10, 20, 30)
b = str(a)
print(b)           
print(type(b))

(10, 20, 30)
<class 'str'>

# int,float,str,list,dict to--->bool()

In [18]:
# int to bool()
a = 6
b = bool(a)
print(b)
print(type(b))

True
<class 'bool'>

In [19]:
# float to bool()
a = 5.4
b = bool(a)
print(b)
print(type(b))

True
<class 'bool'>

In [20]:
# str to bool()
a = "10"
b = bool(a)
print(b)
print(type(b))

True
<class 'bool'>

In [21]:
# list ti bool()
a = [1, 2, 3]
b = bool(a)
print(b)            
print(type(b))

True
<class 'bool'>

In [22]:
# empty list to bool()
a = []
b = bool(a)
print(b)            
print(type(b))

False
<class 'bool'>

In [23]:
# dict to bool()
a = {"x": 1}
b = bool(a)
print(b)            
print(type(b))

True
<class 'bool'>

In [24]:
# empty dict to bool()
a = {}
b = bool(a)
print(b)            
print(type(b))

False
<class 'bool'>

# tuple,str,set,dict--->list()

In [25]:
# Tuple to list
t = (1, 2, 3)
l1 = list(t)
print(l1)

[1, 2, 3]

In [26]:
# String to list
s = "abc"
l2 = list(s)
print(l2)

['a', 'b', 'c']

In [27]:
# Set to list
se = {10, 20, 30}
l3 = list(se)
print(l3)

[10, 20, 30]

In [28]:
# Dict to list (keys only)
d = {"a": 1, "b": 2}
l4 = list(d)
print(l4)

['a', 'b']

# list,str,set,dict--->tuple()

In [29]:
# List to tuple
li = [4, 5, 6]
t1 = tuple(li)
print(t1)

(4, 5, 6)

In [30]:
# String to tuple
s = "xyz"
t2 = tuple(s)
print(t2)

('x', 'y', 'z')

In [31]:
# Set to tuple
se = {7, 8, 9}
t3 = tuple(se)
print(t3)

(8, 9, 7)

In [32]:
# Dict to tuple (keys only)
d = {"x": 100, "y": 200}
t4 = tuple(d)
print(t4)

('x', 'y')

# list,tuple,str,dict--->set()

In [33]:
# List to set
li = [1, 2, 2, 3]
se1 = set(li)
print(se1)

{1, 2, 3}

In [34]:
# Tuple to set
t = (4, 5, 4)
se2 = set(t)
print(se2)

{4, 5}

In [35]:
# String to set
s = "banana"
se3 = set(s)
print(se3)

{'b', 'n', 'a'}

In [36]:
# Dict to set (keys only)
d = {"k1": 1, "k2": 2}
se4 = set(d)
print(se4)

{'k1', 'k2'}

# list or tuple of pairs to--->dict()

In [37]:
# List of pairs to dict
lp = [("a", 1), ("b", 2)]
d1 = dict(lp)
print(d1)

{'a': 1, 'b': 2}

In [38]:
# Tuple of pairs to dict
tp = (("x", 100), ("y", 200))
d2 = dict(tp)
print(d2)

{'x': 100, 'y': 200}

# OPERATORS

# 1.arithmetic operator

In [39]:
x,y=10,20
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x%y)
print(x**y)

30
-10
200
0.5
0
10
100000000000000000000

# 2.comparision operators

In [40]:
x,y = 15,25
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
False
True
False
True

# 3.logical operators

In [41]:
a,b=True,False
print(a and b)
print(a or b)
print(not a)
print(not b)

False
True
False
True

# 4.bitwise operator

In [42]:
x,y=5,3 
print(x&y)
print(x|y)
print(x^y)
print(x<<1)
print(x>>1) 
print(~x)

1
7
6
10
2
-6

# 5.assignment operator

In [43]:
x=5
x+=3
x=x+3
print(x)
x-=2
x=x-2
print(x)
x*=4 
x=x*4
print(x)
x/=2
x=x/2
print(x)
x%=3 
x=x%3
print(x)

11
7
112
28.0
1.0

# 6.membership operator

In [44]:
st1=[1,2,3,4]
print(3 in st1)
print(5 not in st1)
print(4 in st1)
print(0 in st1)

True
True
True
False

# 7.identity operater

In [45]:
x=[1,2,3]
x=y
z=[1,2,3]
print(x is y)
print(x is not y)
print(x is z)
print(x is not z)

True
False
False
True

# 8.other operators

In [46]:
a,b=10,20
max_value=a if a > b else b > a
max_value=b
print(max_value)

20

In [47]:
# examples of arithmetic operators(+,-,*,/,%,**,//)

In [48]:
a1=(5+2)*2
print(a1)

14

In [49]:
a2=(5-2)*3
print(a2)

9

In [50]:
a3=(20*10)/4
print(a3)

50.0

In [51]:
a4=(50/7)-3
print(a4)

4.142857142857143

In [52]:
a5=(5//10)*1
print(a5)

0

In [53]:
a6=(5**6)+10
print(a6)

15635

In [54]:
a7=(8%30)**2
print(a7)

64

In [55]:
a=(30//7)+10*5
print(a)

54

In [56]:
# example of assignment operators(=,+=,-=,*=,/=,%=,//=,**=,&=,|=,^=,>>=,<<=)

In [57]:
x=10
x+=5
print(x)

15

In [58]:
x=10
x-=4
print(x)

6

In [59]:
x=10
x*=2
print(x)

20

In [60]:
x=10
x/=4
print(x)

2.5

In [61]:
x=10
x%=3
print(x)

1

In [62]:
x=10
x**=2
print(x)

100

In [63]:
x=10
x//=6
print(x)

1

In [64]:
x=10
x&=7
print(x)

2

In [65]:
x=10
x/=8
print(x)

1.25

In [66]:
x=10
x^=6
print(x)

12

In [67]:
x=10
x<<=7
print(x)

1280

In [68]:
x=10
x>>=2
print(x)

2

In [69]:
# example of comparision operators(==,!=,>,<,>=,<=)

In [70]:
x=5
y=10
print(x==y)
y=5
print(x==y)

False
True

In [71]:
x=5
y=3
print(x!=y)
y=5
print(x!=y)

True
False

In [72]:
x=5
y=10
print(x>y)
y=4
print(x>y)

False
True

In [73]:
x=5
y=6
print(x<y)
y=3
print(x<y)

True
False

In [74]:
x=5
y=5
print(x>=y)
y=6
print(x>=y)

True
False

In [75]:
# example of logical operators(and,or,not)

In [76]:
x=10
y=20
print(x>5 and y>15)
print(x>15 and y>15)
print(x>5 and y<15)

True
False
False

In [77]:
x=10
y=20
print(x>10 or y>10)
print(x>5 or y<10)
print(x>20 or y<10)
print(x<15 or y<10)

True
True
False
True

In [78]:
x=10
print(not(x>5))
print(not(x<5))

False
True

In [79]:
# example of bitwise operators(&,|,^,~,<<,>>)

In [80]:
x=5
y=3
result=x&y
print(result)

1

In [81]:
x=5
y=3
result=x|y
print(result)

7

In [82]:
x=5
y=3
result=x^y
print(result)

6

In [83]:
x=5
result=~x
print(result)

-6

In [84]:
x=5
result=x<<2
print(result)

20

In [85]:
x=5
result=x>>2
print(result)

1

In [86]:
# example of membership operators(in,in not)

In [87]:
fruits=["apple","banana","cherry"]
print("apple"in fruits)
print("grape" in fruits)
print("grape" not in fruits)

True
False
True

In [88]:
numbers=[1,2,3,4,5]
print(5 in numbers)
print(6 not in numbers)
print(6 in numbers)

True
True
False

In [89]:
# example of identity operators(is ,is not)

In [90]:

x=10
y=10
print(x is y)
print(x is not y)

True
False

In [91]:
x=10
y=20
print(x is not y)
print(x is y)

True
False

In [92]:
x=[1,2,3]
y=[1,2,3]
print(x is y)
print(x is not y)

False
True